<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projeto1.Properties.Settings.Banco1ConnectionString"
            connectionString="Data Source=DESKTOP-MH32JLG\MSSQLSERVER2;Initial Catalog=Banco1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>